
:root {
    --brand-color: #2196F3;
    --brand-pagina: #F5F4FA;
    --brand-menu: #212121;
    --brand-info: #757575;
    --brand-white: #FFFFFF;
    --brand-head: #2F303A;
  }


body{
    background-color:var(--brand-pagina);
    font-family: 'Roboto', 'Arial';
    text-decoration: none;
}

/*Encabezado*/

.tittle{
    font-family: 'Raleway';
    font-size: 26px;
    line-height: 31px;
    width: 145px;
    color:var(--brand-color);
}

li{
    list-style-type: none;
}

/*Menu de los dos html*/

.menu-submenu .submenu{
    font-size: 14px;
    color:var(--brand-menu);
    line-height: 16px;
}

.menu-submenu .Submenu:hover{
    color:var(--brand-color);
    line-height: 16px;
}

.text-direction{
    font-size: 14px;
    color:var(--brand-menu);
    line-height: 16px
}
.text-direction:hover{
    color:var(--brand-color);
    line-height: 16px;
}
.info{
    font-size: 14px;
    line-height: 16px;
    color:var(--brand-info);
}

/*Seccion uno*/

.head{
    background-color: var(--brand-head);
}

.head-tittle{
    font-size: 44px;
    line-height: 60px;
    color: var(--brand-white);
}

.head-button{
    color: var(--brand-menu);
    font-family: Roboto;
    font-size: 16px;
    line-height: 30px;
    font-weight: 700;
    width: 261px;
    height: 50px;
    left: 666px;
    top: 430px;
    background-color:var(--brand-pagina);
}

.head-button:hover{
    color: var(--brand-white);
    font-family: Roboto;
    font-size: 16px;
    line-height: 30px;
    background-color:var(--brand-color);
}

/*Botones de portafolio*/

.mouse{
    cursor: pointer;
}
.link {
    cursor: pointer;
    text-decoration: none;
}

.button-list .button{
    background-color: var(--brand-pagina);
    font-family: Roboto;
    width: 145px;
    height: 38px;
    left: calc(50% - 145px/2 - 15.5px);
    top: calc(50% - 38px/2 - 735px);
    font-size: 16px;
    line-height: 26px;
    border-radius: 4px;
}

.button-list .button:hover{
    font-family: Roboto;
    color: var(--brand-white);
    font-size: 16px;
    line-height: 26px;
    background-color:var(--brand-color);
}

.active{
    color:var(--brand-color)
}

.activebutton{
    background-color:var(--brand-color);
    font-family: Roboto;
    color: var(--brand-white);
    width: 145px;
    height: 38px;
    left: calc(50% - 145px/2 - 15.5px);
    top: calc(50% - 38px/2 - 735px);
    font-size: 16px;
    line-height: 26px;
    border-radius: 4px;
}

/*Seccion Dos*/

.intermediate{
    font-size: 14px;
    line-height: 16px;
    color:var(--brand-menu);
}

.middle-text{
    font-size: 14px;
    line-height: 24px;
    color:var(--brand-info);;
}

/*Seccion Tres imagenes*/

.seccion-tittle{
    font-size: 36px;
    line-height: 42px;
    color:var(--brand-menu);
}

/*Seccion Cuarta baja*/

.down{
    background-color:var(--brand-white); ;
}

.professional{
    font-size: 16px;
    line-height: 19px;
    color:var(--brand-menu);
}

.position{
    font-size: 16px;
    line-height: 19px;
    color:var(--brand-info);;
}

/*Pie de pagina*/

address{
    font-style: normal;
}

.foot{
    background-color:var(--brand-head);;
}

.location{
    color: var(--brand-white);;
    font-size: 14px;
    line-height: 24px;
}

.articul{
    color:var(--brand-info);;
    line-height: 30px;
    font-size: 16px;
}

/*Seccion pie de pagina*/


.networks{
    color: var(--brand-white);
    font-size: 14px;
    line-height: 16px;
}