body{
    background-color: #F5F4FA;
    font-family: 'Roboto', 'Arial';
}

/*Encabezado*/

.Tittle{
    text-decoration: none;
    font-family: 'Raleway';
    font-size: 26px;
    line-height: 31px;
    width: 145px;
    color: #2196F3;
}

li{
    list-style-type: none;
}

/*Menu de los dos html*/

.menu-submenu .submenu{
    font-size: 14px;
    color: #212121;
    line-height: 16px;
    text-decoration: none;
}

.menu-submenu .Submenu:hover{
    color: #2196F3;
    line-height: 16px;
}

.Text-direction{
    font-size: 14px;
    color: #212121;
    line-height: 16px;
    text-decoration: none;
}
.Text-direction:hover{
    color: #2196F3;
    line-height: 16px;
}
.Info{
    font-size: 14px;
    line-height: 16px;
    color: #757575;
    text-decoration: none;
}

/*Seccion uno*/

.head{
    background-color: #2F303A;
}

.head-tittle{
    font-size: 44px;
    line-height: 60px;
    color: #FFFFFF;
}

.head-button{
    color: #212121;
    font-size: 16px;
    line-height: 30px;
    width: 261px;
    height: 50px;
    left: 666px;
    top: 430px;
    background-color:  #F5F4FA;
}

.head-button:hover{
    color: #FFFFFF;
    font-size: 16px;
    line-height: 30px;
    background-color: #2196F3;
}

/*Botones de portafolio*/

.mouse{
    cursor: pointer;
}
.link {
    cursor: pointer;
}

.button-list .button{
    background-color:  #F5F4FA;
    width: 145px;
    height: 38px;
    left: calc(50% - 145px/2 - 15.5px);
    top: calc(50% - 38px/2 - 735px);
    font-size: 16px;
    line-height: 26px;
    border-radius: 4px;
}

.button-list .button:hover{
    color: #FFFFFF;
    font-size: 16px;
    line-height: 26px;
    background-color: #2196F3;
}

.active{
    color:#2196F3
}

.activebutton{
    background-color: #2196F3;
    color: white;
    width: 145px;
    height: 38px;
    left: calc(50% - 145px/2 - 15.5px);
    top: calc(50% - 38px/2 - 735px);
    font-size: 16px;
    line-height: 26px;
    border-radius: 4px;
}

/*Seccion Dos*/

.intermediate{
    font-size: 14px;
    line-height: 16px;
    color: #212121;
}

.middle-text{
    font-size: 14px;
    line-height: 24px;
    color: #757575;
}

/*Seccion Tres imagenes*/

.center{
    font-size: 36px;
    line-height: 42px;
    color: #212121;
}

/*Seccion Cuarta baja*/

.down{
    background-color: #E5E5E5 ;
}

.tittle-down{
    font-size: 36px;
    line-height: 42px;
    color: #212121;
}

.professional{
    font-size: 16px;
    line-height: 19px;
    color: #212121;
}

.position{
    font-size: 16px;
    line-height: 19px;
    color: #757575;
}

/*Pie de pagina*/

address{
    font-style: normal;
}

.foot{
    background-color: #2F303A;
}

.location{
    color: #FFFFFF;
    text-decoration: none;
    font-size: 14px;
    line-height: 24px;
}

.articul{
    color: #757575;
    line-height: 30px;
    font-size: 16px;
}

/*Seccion pie de pagina*/


.networks{
    color: #FFFFFF;
    font-size: 14px;
    line-height: 16px;
}